body{
    background-color: black;
    color: aliceblue;
    height: 100px;
    border: 10px solid greenyellow;
    padding: 20px;
}
h1{
    text-align: center; 
   background-color: rgb(102, 255, 0);
   color: black;
   padding: 20px;
   height: 100px;
   border: 30px;
}
em strong{
    color: rgb(0, 255, 170);
}

#banner{
    width: 100%;
    text-align: center;
}
